.wrapperFilter  {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: teal;
}
.filter {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 50px;
    background-color: teal;
}
.formFilter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-right: 10px;
}
.inputName  {
    width: 200px;
    margin-right: 20px;
    height: 20px;
}
.inputSurname   {
    width: 200px;
    height: 20px;
    margin-right: 20px;
}
.wrapperBtnClose    {
    display: flex;
    align-items: center;
}
.blockElement {
    width: 840px;
    margin: 0 auto 0 auto;
}
.btnCreate  {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.element {
    width: 800px;
    height: 120px;
    border: 1px solid teal;
    margin: 7px auto 7px auto;
    border-radius: 20px;
}
.element:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-left: 18px;
    background-color: aqua;
}
.headerElement  {
    display: flex;
    align-items: center;
}
.logo   {
    margin: 10px 30px 10px 30px;
}
.headerWrap {
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    width: 100%;
}
.wrapName   {
    display: flex;
    align-items: flex-start;
}
.headerName {
    margin-right: 20px;
}
.headerSurname {
}
.btnChange  {
    padding: 0 10px 3px 10px;
}
.btnChange:hover  {
    background-color: silver;
    border-radius: 30px;
}
.btnDel {
    display: flex;
    justify-content: space-between;
    width: 70px;
    align-items: flex-start;
    margin-right: 30px;
}
.wrapData   {
    display: flex;
    justify-content: space-between;
}
.wrapDataInfo{
    display: flex;
    justify-content: center;
    width: 100%;
}
.dataElementPhone   {
    display: flex;
    margin-left: 30px;
}
.dataElementMail    {
    display: flex;
    margin-left: 30px;
}
.dataElementAddress {
    display: flex;
    margin-left: 30px;
}
.info   {
    margin-left: 10px;
}
.changeElement  {
    display: flex;
    margin-right: 30px;
    align-items: flex-start;
}
h4  {
    margin-top: 0;
    margin-bottom: 0;
}
.unregistered   {
    display: grid;
    align-items: center;
    justify-items: center;
    width: 500px;
    height: 180px;
    margin: 50px auto auto;
    border-radius: 20px;
    background-color: red;
}
.warningWindow  {
    margin: 20px auto 5px auto;
}
.log{
    color: white;
    list-style-type: none;
}
.wrapperBtnChange   {
    display: flex;
    align-items: center;
}
.btnUpdate  {
    margin-left: 10px;
    margin-right: 10px;
}