.box {
    background-image: url('floor.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.wrapperForm    {
    width: 450px;
    height: 500px;
    border-radius: 20px;
    background-color: #98FB98;
    margin: auto;
    padding: 30px;
}
.wrapperForm:hover    {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.formClass  {
    margin-top: 50px;
}
.login  {
}
.pError {
    color: red;
}